body{
    margin: 0;
    padding: 0;
    font-family: fantasy;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left, green, yellow);
    
}

.btn{
    background-color: blue;
    padding: 80px;
    font-size: 3rem;
    text-decoration: none;
    color: white;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0,0,0,.7);
    position: relative;
    overflow: hidden;
}

.btn span{
    position: relative;
    z-index: 1;
}



.btn::before{
    position: absolute;
    content: "";   
    background-color: darkred;
    width: 0;
    height: 0;
    border-radius: 50%;
    left: var(--positoionX);
    top: var(--positionY);
    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
}

.btn:hover::before{
    width: 350px;
    height: 350px;
}